.plans{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.plan{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.plan:hover{
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #c1c1c13d;
}

.plan_info > h5{
    font-size: 20px;
    font-weight: 400;
}

.plan_info > h6{
    font-size: 15px;
    font-weight: 400;
}

.plan_cost{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.plan_cost > h5{
    font-size: 20px;
    font-weight: 400;
}

.plan_sub_button{
    color: white;
    background-color: #e50914;
    border: none;
    padding: 10px;
    font-size: 0.9rem;
}

.plan_sub_button:hover{
    cursor: pointer;
}

.plan_subscribed_button{
    background-color: grey;
}

.plan_subscribed_button:hover{
    cursor: default;
}

.plan:has(.plan_subscribed_button){
    background-color: rgba(211, 211, 211, 0.114);
    border: 1px solid #e50914;
    opacity: 0.9;
}
